[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
autopep8 = "*"
compressai = "*"
tensorboard = "*"
simplejpeg = "*"
imageio = "*"


[dev-packages]
torch-tb-profiler = "*"
ipykernel = "*"

[requires]
python_version = "3.10"
